# =============================================
# VARIABLES DE ENTORNO — PLANTILLA
# Copiar a .env y rellenar con valores reales
# NUNCA subir .env al repositorio
# =============================================

# ---- JWT ----
JWT_SECRET=cambia_esto_por_un_secreto_seguro_minimo_32_chars
JWT_EXPIRES_IN=15m
JWT_REFRESH_SECRET=otro_secreto_diferente_para_refresh_tokens
JWT_REFRESH_EXPIRES_IN=7d

# ---- SQL Server (auth-service y users-service) ----
SQLSERVER_HOST=localhost
SQLSERVER_PORT=1433
SQLSERVER_DATABASE=crud_ms_db
SQLSERVER_USER=sa
SQLSERVER_PASSWORD=TuPassword123!

# ---- MongoDB (products-service) ----
MONGO_USER=admin
MONGO_PASSWORD=TuMongoPass123!
MONGO_DATABASE=crud_products_db

# ---- Entorno ----
NODE_ENV=development
